<div>
    <% if @photos %>
        <% @photos.each do |p| %>
        <%= image_tag "#{Flickr.url_m(p)}" %>
        <% end %>
    <% elsif @photos.nil? %>
        <p>No photos found yet! </p>
    <% else %>
        <p>Something went wrong!</p>
    <% end %>
</div>