<div>
    <% if @photos %>
        <% @photos.each do |p| %>
        <%= image_tag "#{Flickr.url_m(p)}" %>
        <% end %>
    <% else %>
        <p>No Photos here!</p>
    <% end %>
    <% flash.each do |type, msg| %>
        <div>
        <%= msg %>
        </div>
    <% end %>
</div>